@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100%;
  text-align: center;
  background: #f8f4f2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
}

li{
  list-style: none;
  font-weight: bold;
}

.box {
  display: flex;
  margin: 4%;
  flex-direction: column;
  width: 300px;
  height: 500px;
  text-align: center;
  background-image: url("https://www.thoughtco.com/thmb/xh-OBnDHPkiSXaIvZkviVSK2YiA=/3644x2733/filters:no_upscale():max_bytes(150000):strip_icc()/tropical-rain-89117103-5831ef833df78c6f6a27875f.jpg");
  background-size: 100% 81%;
  border-radius: 20px;
  color: chartreuse;
}

#img-container {
    
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 20px; 
  border-radius: 0px 0px 20px 20px;
  font-size: 14px;
}

.text-container h1 {
  margin: 20px 0px 10px 0px;
  color: #dbb424;
  font-size: 38px;
  padding-bottom: 5%;
  padding-top: -15%;
}

h2{
  font-size: xx-large;
  color: #dde0e7;
}

.search{
  margin-top: 10px;
  white-space: nowrap;
  position: relative;
}

#search{
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}

#btn {
  margin: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 8px;
  border: none;
  background-color: rgb(60, 2, 116);
  cursor: pointer;
  color: white;
}

#btn:hover {
  transform: scale(1.1);
}